//- .header-hamburger
//- 	span
//- 	span
//- 	span
//- 	#pulseMe
//- 		.bar.left
//- 		.bar.top
//- 		.bar.right
//- 		.bar.bottom
.header-hamburger 
	.hamburger-inner 
		.hamburger-front
			<i class="fa-regular fa-bars"></i>
		.hamburger-back
			<i class="fa-solid fa-xmark"></i>