.header-search-form
	.close
		i.fa-light.fa-xmark
	.container
		.wrap-form-search-product
			.productsearchbox
				input(type="text" placeholder="Tìm kiếm...")
				button.btn-search Tìm
			.message-search 
				| Nhấn 
				span Esc 
				|  để đóng