section.section-vision
	.container
		//- ACF: vision_title
		.group-title(data-aos="fade-up")
			h2.section-title(data-ripple-text data-ripple-text-types="words" data-ripple-text-delay="0.07")
				strong TẦM NHÌN
				|  CHÚNG TÔI

			.vision-divider

		//- ACF: vision_quote
		.vision-quote(data-aos="fade-up" data-aos-delay="200" data-aos-duration="900")
			img.vision-quote__icon(src="./img/quote.svg" alt="")
			p.vision-quote__text Trở thành thương hiệu phụ kiện xe máy điện hàng đầu tại Việt Nam, tiên phong trong việc phát triển các sản phẩm an toàn, bền bỉ và tối ưu trải nghiệm sử dụng xe điện cho người Việt.