section.section-video-banner
	.container
		.container-inner(data-aos="zoom-in" data-aos-duration="1000")
			.video-box.img-ratio(class="ratio:pt-[650_1400]")
				video(src="./img/video-section.mp4" autoplay muted loop playsinline)
				.video-overlay
				.video-content
					h2.video-title(data-ripple-text data-ripple-text-types="chars" data-ripple-text-delay="0.05") VIDEO GALLERY
					a.btn.btn-white(href="#!" data-aos="fade-up" data-aos-delay="500")
						span Xem thêm
						i.fa-regular.fa-arrow-right