@layer base
	html
		scroll-padding-top: 100px
	html, body
		// font-size: 17px
		// @screen md
		// 	font-size: 17px
		// @screen xl
		// 	font-size: 1vw
		font-size: clampVw(calc(19.2px * 0.68), 19.2px,1024px)
	body
		> *
			@apply box-border
	*, ::before, ::after 
		border-style: solid
		border-width: 0
	.table-responsive
		@apply overflow-auto
		@media (max-width: 767.98px)
			table
				width: 900px !important
	.img-full
		img
			@apply w-full h-full object-cover
	.img-ratio
		position: relative
		display: block
		height: 0
		overflow: hidden
		padding-top: 100%
		img,iframe
			@apply absolute top-0 left-0 w-full h-full object-cover transition-300
	.img-ratio-parallax
		@apply relative block h-0 overflow-hidden pt-full
		[data-parallax-img]
			@apply absolute top-0 left-0 block sq-full
			img,iframe
				@apply sq-full object-cover
	.img-ratio-center
		position: relative
		height: 0
		overflow: hidden
		padding-top: 100%
		@apply flex-center
		img,iframe
			@apply absolute top-1/2 left-1/2 w-auto h-auto object-contain transition-all duration-300 max-w-full max-h-full -translate-x-1/2 -translate-y-1/2
	.div-ratio
		position: relative
		display: block
		height: 0
		overflow: hidden
		padding-top: 100%
		&>div
			@apply absolute top-0 left-0 w-full h-full transition-all duration-300
	body
		@apply text-[#333333] text-base font-primary
		&::-webkit-scrollbar
			@apply w-1.5
		&::-webkit-scrollbar-thumb
			@apply bg-primary-1 rounded-full
		&::-webkit-scrollbar-track
			@apply bg-utility-gray-100 rounded-full
	.row
		@apply flex flex-wrap -mx-[7.5px] xl:-mx-5 gap-y-5
	.col
		@apply px-[7.5px] xl:px-5 w-full
	h1
		@apply text-3xl font-bold
	h2
		@apply text-2xl font-bold
	h3
		@apply text-xl font-bold
	h4
		@apply text-lg font-bold
	img
		@apply inline max-w-full
	a
		@apply transition-300
	p
		@apply empty:hidden
	input
		@apply outline-offset-0 shadow-none ring-0 #{!important}
	.overflow-scroll-1
		&::-webkit-scrollbar
			@apply w-1
		&::-webkit-scrollbar-track
			@apply bg-utility-gray-100 rounded-full
		&::-webkit-scrollbar-thumb
			@apply bg-primary-1 rounded-full
	body.disable-scroll
		@apply overflow-hidden
	// .format-content
	// 	p
	// 		@apply mb-3
	// 	ul
	// 		@apply list-disc pl-5 flex flex-col gap-3 mb-3
	.overlay-black
		@apply relative z-2
		&::before
			content: ''
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%)
			@apply absolute top-0 left-0 w-full h-full -z-1 pointer-events-none
	.mb-base
		@apply lg:mb-10 mb-8
	.stretched-link
		&::before
			content: ''
			@apply absolute-full z-1 pointer-events-auto
	.item-wrap-expander-content
		&:not(.disable-hover)
			&:hover
				.wrap-expander-content
					grid-template-rows: 1fr !important
					.expander-content
						@apply visible
		.wrap-expander-content
			grid-template-rows: 0fr !important
			transition: grid-template-rows .6s
			overflow: hidden
			@apply grid
		.expander-content
			min-height: 0
			transition: visibility 1s
			visibility: hidden
			@apply mb-0
